# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"


[[constraint]]
  branch = "release-8.0"
  name = "github.com/appscode/kutil"

[[constraint]]
  name = "github.com/coreos/prometheus-operator"
  revision = "v0.23.2"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.11.3"

[[override]]
  name = "k8s.io/apimachinery"
  branch = "release-1.11.3"
  source = "github.com/pharmer/apimachinery"

[[override]]
  name = "k8s.io/apiextensions-apiserver"
  version = "kubernetes-1.11.3"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.11.3"

[prune]
  unused-packages = true
  go-tests = true
